@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Colors */
  --color-primary-color: #33e092;
  --color-secondary-color: #0cce6b;
  --color-tertiary-color: #16a34a;
  --color-primary-bg: rgba(39, 39, 43, 0.4);
  --color-secondary-bg: rgba(250, 250, 250, 0.4);

  /* Fonts */
  --font-family-incognito: var(--incognito);
  --font-family-inter: var(--inter);

  /* Box Shadows */
  --box-shadow-line-light: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  --box-shadow-line-dark: rgb(29, 29, 32) 0px 1px 0px;

  /* Grid */
  --grid-template-columns-custom: 1.2fr 1fr;
  --grid-template-rows-fit: min-content 0fr;
  --grid-template-rows-full: min-content 1fr;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("../../public/noise.png");
  background-size: 200px 200px;
  background-position: 0 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--incognito), "Inter", sans-serif;
}

.path {
  stroke-dasharray: 500px 100px;
  animation: animate 100s linear infinite alternate-reverse;
}

@keyframes animate {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 12433.8193359375;
  }
}
